{%- liquid
  assign name_en = settings.brand_name_en | default: 'Voxellab'
-%}
<div class="brand-lockup {{ class }}">
  {% render 'logo-mark', class: 'brand-lockup__mark' %}
  <div class="brand-lockup__text">
    <span class="brand-lockup__name brand-lockup__name--en">{{ name_en }}</span>
    <span class="brand-lockup__name brand-lockup__name--ar" lang="ar">فوكسل لاب</span>
    <span class="brand-lockup__sub brand-lockup__sub--en" lang="ar">فوكسل لاب</span>
  </div>
</div>
